{% extends "notes/index.html" %}
{% load static %}
{% block heroSection %}{% endblock %}
{% block dashboard %}

<div class="h-auto bg-zinc-900 text-slate-400 px-6 py-4 flex gap-4 md:flex">
   
    {% include "notes/sidebar.html" %}
    {% include "notes/dashboardContent.html" %}

</div>




<!-- Script for toggling sidebar -->
<script>
   

    const mobileToggle = document.getElementById('mobileToggle');
    const mobileSidebar = document.getElementById('mobileSidebar');
    const closeMobileSidebar = document.getElementById('closeMobileSidebar');

    // Show sidebar
    mobileToggle.addEventListener('click', () => {
        mobileSidebar.classList.remove('-translate-x-full');
    });

    // Hide sidebar
    closeMobileSidebar.addEventListener('click', () => {
        mobileSidebar.classList.add('-translate-x-full');
    });
</script>

{% endblock %}

