{% load static %}

<!-- Include AOS CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@next/dist/aos.css" />
<script src="https://cdn.jsdelivr.net/npm/aos@next/dist/aos.js"></script>

<!-- Hero Section -->
<div class="relative bg-zinc-900 text-white py-16 md:py-28 overflow-hidden" data-aos="fade-up">
    <div class="container mx-auto text-center px-4 relative z-10">
        <h1 class="font-bold mb-4">
            <span class="text-4xl">Share Your</span> <span class="text-6xl text-pink-400">Knowledge</span> <span class="text-7xl">Seamlessly</span>
        </h1>
        <p class="text-lg md:text-2xl font-light mb-6 text-slate-400">
            Join a vibrant community of learners and educators, sharing notes and resources to enhance learning.
        </p>
        {% if user.is_authenticated %}
        <a href="{% url 'mynotes' %}" class="inline-block bg-yellow-500 hover:bg-yellow-600 py-3 px-8 rounded-lg text-lg font-semibold transition duration-200">
            Start Sharing
        </a>
        {% else %}
        <a href="{% url 'login' %}" class="inline-block bg-yellow-500 hover:bg-yellow-600 py-3 px-8 rounded-lg text-lg font-semibold transition duration-200">
            Start Sharing
        </a>
        {% endif %}

    </div>
</div>

<!-- Features Section -->
 
<div id="features" class="relative bg-zinc-900 py-16 overflow-hidden">
    <div class="container mx-auto px-4 relative z-10">
        <h2 class="text-4xl font-bold text-center text-yellow-500 mb-12" data-aos="zoom-in">Why Use Our Platform?</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Feature 1 -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105" data-aos="fade-right">
                <h3 class="text-xl text-slate-300 font-semibold mb-2">Easy Uploads</h3>
                <p class="text-slate-500">Quickly upload your notes with user-friendly interfaces and share them with the community in just a few clicks.</p>
            </div>

            <!-- Feature 2 -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105" data-aos="fade-up" data-aos-delay="100">
                <h3 class="text-xl text-slate-300 font-semibold mb-2">Collaborative Learning</h3>
                <p class="text-slate-500">Engage with peers and learn collaboratively through shared resources, discussions, and group projects.</p>
            </div>

            <!-- Feature 3 -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105" data-aos="fade-left" data-aos-delay="200">
                <h3 class="text-xl text-slate-300 font-semibold mb-2">Access Anywhere</h3>
                <p class="text-slate-500">Access your notes from any device, anywhere, and at any time. Your learning, your way.</p>
            </div>

            <!-- Feature 4 -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105" data-aos="fade-up" data-aos-delay="300">
                <h3 class="text-xl text-slate-300 font-semibold mb-2">Interactive Resources</h3>
                <p class="text-slate-500">Utilize interactive tools and features that enhance your learning experience and facilitate knowledge sharing.</p>
            </div>

            <!-- Feature 5 -->
            <div class="bg-zinc-800 p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105" data-aos="fade-down" data-aos-delay="400">
                <h3 class="text-xl text-slate-300 font-semibold mb-2">User-Friendly Interface</h3>
                <p class="text-slate-500">Navigate our platform effortlessly with an intuitive design tailored for students and educators alike.</p>
            </div>
        </div>
    </div>
</div>

{% if not user.is_authenticated %}
<!-- Community Section -->
<div class="relative bg-zinc-900 py-16 overflow-hidden">
    <div class="container mx-auto text-center px-4 relative z-10">
        <h2 class="text-4xl font-bold text-slate-200 mb-4" data-aos="slide-up">Join Our Community</h2>
        <p class="text-lg text-slate-500 mb-6" data-aos="fade-up" data-aos-delay="100">
            Connect with like-minded individuals who share your passion for learning and sharing knowledge. Participate in forums and discussions to enrich your understanding.
        </p>
        <a href="{% url 'register' %}" class="inline-block bg-pink-200 hover:bg-pink-300 py-2 px-4 rounded-lg text-lg font-semibold transition duration-200">
            Become a Member
        </a>
    </div>
</div>
{% endif %}

<!-- Resources Section -->
<div class="relative bg-zinc-900 py-16 overflow-hidden">
    <div class="container mx-auto text-center px-4 relative z-10">
        <h2 class="text-4xl font-bold text-green-500 mb-4" data-aos="flip-left">Explore Our Resources</h2>
        <p class="text-lg text-slate-500 mb-6" data-aos="fade-up" data-aos-delay="100">
            Dive into a wealth of educational materials contributed by our community members, from notes to study guides and more.
        </p>
        <a href="{% url 'note' %}" class="inline-block bg-green-200 hover:bg-green-300 py-2 px-4 rounded-lg text-lg font-semibold transition duration-200">
            View Resources
        </a>
    </div>
</div>

<!-- Testimonials Section -->
{% if testimonials %}
<div class="relative bg-zinc-900 py-16 overflow-hidden">
    <div class="container mx-auto text-center px-4 relative z-10">
        <h2 class="text-4xl font-bold text-blue-500 mb-4" data-aos="zoom-in">What Our Users Say</h2>
        {% for testimonial in testimonials|slice:":1" %}
        <p class="text-lg text-slate-300 mb-6" data-aos="fade-up" data-aos-delay="100">
           "{{ testimonial.feedback }}" - <strong>{{ testimonial.author.first_name }}</strong>
        </p>
        {% endfor %}
        <a href="{% url 'testimonial' %}" class="inline-block bg-blue-200 hover:bg-blue-300 py-2 px-4 rounded-lg text-lg font-semibold transition duration-200">
            Read More Testimonials
        </a>    
    </div> 
</div>
{% endif %}


<!-- About Section -->
<div class="relative bg-zinc-900 py-16 overflow-hidden">
    <div class="container mx-auto text-center px-4 relative z-10">
        <h2 class="text-4xl font-bold text-violet-500 mb-4" data-aos="fade-down">About Us</h2>
        <p class="text-lg text-slate-300 mb-6" data-aos="fade-up" data-aos-delay="100">
            Our mission is to create an accessible platform for students and educators to share and enhance knowledge through collaborative learning.
        </p>
        <a href="{% url 'aboutus' %}" class="inline-block bg-violet-200 hover:bg-violet-300 py-2 px-4 rounded-lg text-lg font-semibold transition duration-200">
            Learn More
        </a>
    </div>
    <!-- Wavy border at the bottom of the about section -->
    <svg class="absolute bottom-0 left-0 w-full" viewBox="0 0 1440 100" preserveAspectRatio="none">
        <path d="M0,60 L40,40 L80,80 L120,30 L160,70 L200,10 L240,90 L280,50 L320,60 L360,20 L400,80 L440,40 L480,90 L520,20 L560,70 L600,10 L640,60 L680,0 L720,50 L760,30 L800,70 L840,10 L880,60 L920,20 L960,90 L1000,40 L1040,80 L1080,10 L1120,60 L1160,0 L1200,50 L1240,20 L1280,70 L1320,10 L1360,50 L1400,0 L1440,50 L1440 100 L0 100 Z" fill="#27272a"></path>
    </svg>
    
</div>

<!-- Include AOS Initialization Script -->
<script>
    AOS.init();
</script>
