 {% load static %}
 <!-- Sidebar -->
<div id="sidebar" class="bg-zinc-900 h-full w-30 rounded shadow-2xl transition-all hidden md:block duration-300">
    <div class="flex p-4 relative border-b border-gray-700">
        <img src="{% static 'notes/images/userImage.jpg' %}" alt="userPhoto" class="h-9 w-9 object-cover rounded-full">
        <div id="userInfo" class="px-2 text-sm">
            <h3 class="font-bold">{{ request.user.first_name }}</h3>
            <p style="font-size:11px;">{{ request.user.email }}</p>
        </div>
        <i id="toggleSidebar" class='bx bx-menu-alt-right absolute right-1 top-1 text-lg cursor-pointer'></i>
    </div>
    
    <!-- Sidebar Links -->
    <ul class="space-y-4 mt-6 px-4">
        <li><a href="{% url 'dashboard' %}" class="flex items-center gap-4 py-2 px-4 rounded hover:bg-zinc-800 hover:text-yellow-300 transition"><i class='bx bxs-dashboard'></i><span class="sidebar-text">Dashboard</span></a></li>
        <li><a href="{% url 'mynotes' %}" class="flex items-center gap-4 py-2 px-4 rounded hover:bg-zinc-800 hover:text-yellow-300 transition"><i class='bx bx-book'></i><span class="sidebar-text">My Notes</span></a></li>
        <li><a href="{% url 'myprofile' %}" class="flex items-center gap-4 py-2 px-4 rounded hover:bg-zinc-800 hover:text-yellow-300 transition"><i class='bx bx-user'></i><span class="sidebar-text">My Profile</span></a></li>
        <li><a href="{% url 'help_support' %}" class="flex items-center gap-4 py-2 px-4 rounded hover:bg-zinc-800 hover:text-yellow-300 transition"><i class='bx bxs-help-circle'></i><span class="sidebar-text">Help & Support</span></a></li>
        <li><a href="{% url 'logout' %}" class="flex items-center gap-4 py-2 px-4 rounded hover:bg-zinc-800 hover:text-yellow-300 transition"><i class='bx bx-log-out'></i><span class="sidebar-text">Logout</span></a></li> 
    </ul>
</div>

<script>
    const toggleSidebar = document.getElementById('toggleSidebar');
    const sidebar = document.getElementById('sidebar');
    const sidebarTextElements = document.querySelectorAll('.sidebar-text');
    const userInfo = document.getElementById('userInfo');

    toggleSidebar.addEventListener('click', () => {
        sidebar.classList.toggle('w-20');
        sidebar.classList.toggle('w-1/4');

        // Toggle text visibility based on sidebar width
        if (sidebar.classList.contains('w-20')) {
            sidebarTextElements.forEach(el => el.classList.add('hidden'));
            userInfo.classList.add('hidden');
        } else {
            sidebarTextElements.forEach(el => el.classList.remove('hidden'));
            userInfo.classList.remove('hidden');
        }
    });
</script>